<%-include("header.ejs")%>
    <div class="content-wrapper">
      <div class="container-fluid">
        <% if(msg) { %>
          <h3 style="color: #c4c45f;" class="text-center"><%=msg%></h3><br>
        <%   } %>
        <h2 class="text-center">Browse By Category</h2>
        <form action="/admin/search" method="POST">
        <div class="card mb-3">
          <div class="card-header text-center">
            <input type="text" name="cat" class="from-control" placeholder="Category">
          </div>
        </div>
        <input type="submit" style="margin-left: 50%; transform: translate(-50%,0);" type="sumit" class="btn btn-secondary"
          value="Browse">
        </form>
      </div>
    </div>
    <%-include("footer.ejs")%>